gradio==5.38.2
langchain
langchain-text-splitters
langchain-chroma
langchain-community
sentence-transformers
FlagEmbedding
transformers
huggingface_hub
PyPDF2
nltk
tqdm
scikit-learn
requests
chromadb
