gradio==5.38.2
langchain
langchain-text-splitters
langchain-chroma
langchain-community
sentence-transformers
FlagEmbedding
transformers
huggingface_hub
llama-cpp-python
PyPDF2
nltk
tqdm
scikit-learn
pandas
torch
detoxify
evaluate
matplotlib
