# PDF & Text processing
PyPDF2
nltk

# Langchain & embeddings
langchain
langchain-community
langchain-chroma
langchain-text-splitters
sentence-transformers
FlagEmbedding

# Machine Learning & Transformers
transformers
torch
huggingface_hub
llama-cpp-python
deberta-v2-pytorch

# Toxicity / Evaluation
detoxify
datasets
scikit-learn
evaluate
pandas

# Utilities
matplotlib
tqdm
